/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:2px;
  margin:0;
  font-size:0.8em;
}

h1 {
  margin-top:0;
  margin-bottom:2px;
}

h3 {
  margin:0;
  padding:2px;
}

ul {
  list-style: none;
  padding:0px;
  margin:0px;
}

li {
  list-style: none;
  padding:0px;
  margin:0px;
}


/* Clocks */
#clock_current_time {
  float:left;
  font-size:1.05em;
  border:4px solid #f70;
  padding-top:0px;
  padding-bottom:0px;
  padding-right:8px;
  padding-left:8px;
  margin:2px;
  background-color:#fd6;
}

#clock_100km_open {
  float:left;
  font-size:1.05em;
  border:4px solid #aca;
  padding-top:0px;
  padding-bottom:0px;
  padding-right:7px;
  padding-left:7px;
  margin-top:2px;
  margin-bottom:2px;
  margin-right:2px;
  margin-left:0px;
  background-color:#dfd;
}

#clock_100km_race {
  float:left;
  font-size:1.05em;
  border:4px solid #edd;
  padding-top:0px;
  padding-bottom:0px;
  padding-right:7px;
  padding-left:7px;
  margin-top:2px;
  margin-bottom:2px;
  margin-right:0px;
  margin-left:2px;
  background-color:#fee;
}

.time {
  font-size:2.5em;
  font-weight:bold;
}

.left_pane {
  width: 405px;
  float: left;
  border:4px solid #aca;
  padding:2px;
  background-color:#dfd;
  margin-top:2px;
}

.right_pane {
  width: 405px;
  float: right;
  border:4px solid #edd;
  padding:2px;
  background-color:#fee;
  margin-top:2px;
}

.race_3 {
  border:4px solid #dde;
  background-color:#eef;
}

.items_col_200
{
  width:200px;
  float:left;
  text-align:center;
  height:22px;
  padding:0;
  margin:0;
}

.bottom_pane {
  border:4px solid #f70;
  padding-right:8px;
  padding-left:8px;
  clear: both;
  background-color:#fd6;
  margin-top:2px;
  margin-bottom:2px;
}

.items_col_20
{
  width:20px;
  float:left;
  text-align:center;
  height:22px;
  padding:0;
  margin:0;
}

.items_col_50
{
  width:50px;
  float:left;
  text-align:center;
  height:22px;
  padding:0;
  margin:0;
}

.items_col_80
{
  width:80px;
  float:left;
  text-align:center;
  height:22px;
  padding:0;
  margin:0;
}

.items_col_100
{
  width:100px;
  float:left;
  text-align:center;
  height:22px;
  padding:0;
  margin:0;
}


/* Styme for bottom pane */
.bottom_pane_items_col_5
{
  width:5%;
  float:left;
  text-align:center;
  height:22px;
  padding-top:2px;
  padding-bottom:2px;
}

.bottom_pane_items_col_10
{
  width:10%;
  float:left;
  text-align:center;
  height:22px;
  padding-top:2px;
  padding-bottom:2px;
}

.bottom_pane_items_col_15
{
  width:15%;
  float:left;
  text-align:center;
  height:22px;
  padding-top:2px;
  padding-bottom:2px;
}

.bottom_pane_items_col_20
{
  width:20%;
  float:left;
  text-align:center;
  height:22px;
  padding-top:2px;
  padding-bottom:2px;
}

#hor-zebra
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
}
#hor-zebra th
{
  text-align:center;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 8px;
  border-bottom: 2px solid #ccc;
}
#hor-zebra td
{
  text-align:center;
  padding: 8px;
  border-bottom: 2px solid #ccc;
}
#hor-zebra .odd
{
  background: #e8e8e8;
}
