[submodule "server/libs/canape"]
	path = server/libs/canape
	url = https://github.com/samueltardieu/canape
	branch = spray
[submodule "server/libs/rxtelegram"]
	path = server/libs/rxtelegram
	url = git@github.com:samueltardieu/rxtelegram
