<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Alerts</title>
    <script src="../common/vendor/google/angularjs/1.5.0/angular.min.js"></script>
    <script src="../common/vendor/google/angularjs/1.5.0/i18n/angular-locale_fr-fr.js"></script>
    <style type="text/css">
      .center { text-align: center; }
      .cancelled-true { text-decoration: line-through; }
      .error, .critical { background: red; }
      .critical { font-weight: bold; }
      .warning { background: orange; }
      .verbose { font-style: italic; }
      table { width: 100%; border-spacing: 0; }
      td { padding: .2em; }
      tr { border: solid 1px; }
    </style>
</head>
<body>
  <div ng-app="alerts" ng-controller="alertsCtrl">
    <table>
      <thead><tr><th>Time</th><th>Category</th><th>Severity</th><th>Title</th><th>Message</th><th>Link</th><th>Targets</th><th>Cancelled</th></tr></thead>
      <tbody id="alerts">
        <tr ng-repeat="alert in alerts" class="cancelled-{{!!alert.cancelledTS}} {{alert.severity}}">
          <td class="center" ng-bind="alert.addedTS | date:'medium':'Europe/Paris'"></td>
          <td class="center" ng-bind="alert.category"></td>
          <td class="center" ng-bind="alert.severity"></td>
          <td class="center" ng-bind="alert.title"></td>
          <td class="center" ng-bind="alert.body"></td>
          <td class="center"><a ng-href="{{alert.url}}" ng-if="!!alert.url">Link</a></td>
          <td class="center" ng-bind='alert.targets.join(", ")'></td>
          <td class="center"><span ng-if="!!alert.cancelledTS"  ng-bind="alert.cancelledTS | date:'mediumTime':'Europe/Paris'"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    var app = angular.module('alerts', []);
    app.controller('alertsCtrl', function($scope, $http, $sce) {
      $http.get("_view/alerts")
        .success(function (response) {
          $scope.alerts = response.rows.map(function (row) { return row.value; });
        });
    });
  </script>
</body>
</html>
