<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Stalking service</title>
    <script src="../common/vendor/google/angularjs/1.5.0/angular.min.js"></script>
    <script src="../common/vendor/google/angularjs/1.5.0/angular-animate.min.js"></script>
    <style type="text/css">
      .center { text-align: center; }
      .name { font-weight: bold; }
      .stalkee { width: 99%; border: 1px solid black; padding: 0.2em; margin: 0.3em; }
      .stalker { vertical-align: middle; }
      .icon { vertical-align: middle; margin-left: 0.1em; }
      .fade.ng-leave { transition: 0.3s linear all; opacity: 1; }
      .fade.ng-leave.ng-leave-active { opacity: 0; }
      #add { padding-bottom: 0.5em; }
      input:focus { background: #ffcccc; }
    </style>
</head>
<body ng-app="stalking" ng-controller="stalkersCtrl">
  <h1>Who stalks whom?</h1>
  <form id="add" ng-submit="addStalkee()" novalidate>
    Add stalker for bib
    <input type="number" ng-model="newStalkee"/>
  </form>
  <div id="stalkers">
    <div ng-repeat="stalkee in stalkees" class="stalkee fade">
      <div class="name"  ng-bind='stalkee.first_name + " " + stalkee.name + " (bib " + stalkee.bib + ")"'></div>
      <form class="phoneAdder" ng-submit="addStalker(stalkee)" novalidate>
        Add stalker phone number
        <input type="text" ng-model="stalkee.newStalker" min="8" max="20" ng-pattern="/^[0-9 +]+$/"/>
      </form>
      <div ng-repeat="stalker in stalkee.stalkers" class="stalker fade">
        <img class='icon' src='close.png' ng-click="removeStalker(stalkee, stalker)"/>
        <span ng-bind='stalker'></span>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var app = angular.module('stalking', ['ngAnimate']);
    app.controller('stalkersCtrl', ['$scope', '$http', function ($scope, $http) {
      $http.get("_view/stalked").success(function (response) {
        $scope.stalkees = response.rows.map(function (row) { return row.value; });
      });
      $scope.removeStalker = function (stalkee, stalker) {
        $http.post("_update/change-stalker/contestant-" + stalkee.bib,
            angular.toJson({operation: "remove", stalker: stalker}))
          .success(function (stalkers) {
            stalkee.stalkers = stalkers;
            if (stalkers.length == 0) {
              var index = $scope.stalkees.indexOf(stalkee);
              $scope.stalkees.splice(index, 1);
            }
          });
      };
      $scope.addStalkee = function () {
        $http.get("../../contestant-" + $scope.newStalkee).success(function (response) {
          if (response.stalkers.length == 0) {
            response.newStalker = response.phone || ""
            $scope.stalkees = [response].concat($scope.stalkees);
            $scope.newStalkee = '';
          } else
            alert("This contestant already has stalkers");
        });
      };
      $scope.normalizePhone = function (phone) {
        phone = phone.replace(/ /g, "");
        if (phone && phone.length > 2) {
          if (phone[0] != '+') {
            if (phone.substring(0, 2) == "00") {
              return "+" . phone.substring(2);
            } else if (phone[0] == '0') {
              return "+33" + phone.substring(1);
            } else {
              return "+" + phone;
            }
          }
        }
        return phone;
      };
      $scope.addStalker = function (stalkee) {
        stalker = $scope.normalizePhone(stalkee.newStalker);
        var validPhone = new RegExp("^\\+[0-9]{8,13}$");
        if (!validPhone.test(stalker)) {
          alert("Invalid phone number " + stalker);
          return;
        }
        if (stalker.substring(0, 3) != "+33") {
          alert("Message to foreign numbers are not supported: " + stalker);
          return;
        }
        if (stalker[3] != '6' && stalker[3] != '7') {
          alert("Messages to landlines are not supported: " + stalker);
          return;
        }
        $http.post("_update/change-stalker/contestant-" + stalkee.bib,
            angular.toJson({operation: "add", stalker: stalker}))
            .success(function (stalkers) {
              stalkee.stalkers = stalkers;
              stalkee.newStalker = '';
            });
      };
    }]);
  </script>

</body>
</html>
