.liveness-alive { background: green; }
.liveness-fresh { background: blue; }
.liveness-old { background: orange; }
.liveness-dead { background: red; }

.row-same-height {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

.col-middle {
  vertical-align: middle;
}

.time-artificial {
  font-style: italic;
}

.time-deleted {
  text-decoration: line-through;
}

.contestant-unknown {
  color: red;
}

table.times th {
  text-align: center;
}

table.times td {
  padding: 0.2em;
}

.analysis .remove {
  color: red;
}

.analysis .down {
  font-style: italic;
}

.analysis .missing {
  color: red;
}

.anomalies .invalid {
  color: red;
}
