<div class="panel-body">
  <table class="table table-condensed table-hover analysis">
    <thead>
      <tr>
        <th>Lap</th>
        <th>Checkpoint</th>
        <th>Distance</th>
        <th>Timestamp</th>
        <th>Speed</th>
        <th ng-if="$ctrl.active">Action</th>
        <th ng-if="$ctrl.active">Reason</th>
      </tr>
    </thead>
    <tbody>
      <tr analysis-point ng-repeat="point in $ctrl.points" point="point" bib="$ctrl.bib" add-action="$ctrl.addAction" infos="$ctrl.infos" active="$ctrl.active" act="$ctrl.act(point.site_id, point.time, action)"></analysis-point>
    </tbody>
  </table>
</div>
