<div class="analysis">
  <h3>Analysis for contestant {{analysis.full_name}} — {{infos.races_names[analysis.race_id]}}</h3>

  <ul>
    <li>Anomalies: {{analysis.anomalies}}</li>
    <li>Valid: {{analysis.valid}}</li>
  </ul>

  <h3>Possible actions</h3>
  <analysis-summary bib="ctrl.bib" points="analysis.checkpoints" analysis="analysis" active="true">
  </analysis-summary>

  <div ng-if="needsFixing">
    <h3>Before modifications</h3>
    <analysis-summary bib="ctrl.bib" points="analysis.before" analysis="analysis" active="false">
    </analysis-summary>
  </div>

  <div ng-if="needsFixing">
    <h3>After modifications</h3>
    <analysis-summary ng-if="needsFixing" bib="ctrl.bib" points="analysis.after" analysis="analysis" active="false">
    </analysis-summary>
  </div>
</div>
