<div class="checkpoint">
  <h2><site site-id="$ctrl.siteId" infos="infos"></site></h2>

  <ul class="pager">
    <li class="previous" ng-show="$ctrl.nextEnabled"><a ng-click="$ctrl.next()">Next</a></li>
    <li class="next" ng-show="$ctrl.previousEnabled"><a ng-click="$ctrl.previous()">Previous</a></li>
  </ul>

  <table class="table table-table-condensed table-hover">
    <thead>
      <tr><th>Contestant</th><th>Timestamp</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="point in $ctrl.points">
        <td><contestant bib="point.bib" infos="infos"></td>
        <td>{{point.timestamp | date: "HH:mm:ss"}}</td>
      </tr>
    </tbody>
  </table>
</div>
