<uib-pagination ng-show="$ctrl.totalItems > $ctrl.itemsPerPage" total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" ng-change="$ctrl.loadSMS()" items-per-page="$ctrl.itemsPerPage" max-size="10" class="pagination-sm" boundary-link-numbers="true" force-ellipses="true"></uib-pagination>

<table class="table table-condensed table-hover">
  <thead>
    <tr><th>Time sent</th><th>Recipients</th><th>Message</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="message in $ctrl.messages">
      <td>{{ message.timestamp | date : "HH:mm:ss" : $ctrl.infos.timezone }}</td>
      <td>{{ message.recipients.join(", ") }}</td>
      <td><a ng-link='["/Analysis", "Contestant", {bib: message.bib}]'>{{ message.message }}</a></td>
    </tr>
  </tbody>
</table>
