<md-list>
  <md-subheader class="md-sticky">{{infos.sites[siteId]}} (site {{siteId}})</md-subheader>
  <md-list-item class="md-3-line" ng-repeat="checkpoint in checkpoints">
    <img ng-src="{{checkpoint | gravatarUrl}}?d=blank&s=40" class="md-avatar" alt="{{checkpoint | fullName}}"/>
    <div class="md-list-item-text">
      <h3>{{checkpoint | fullName}}</h3>
      <h4>{{infos.races_names[checkpoint.race_id]}}</h4>
      <p>{{checkpoint.time | date : "HH:mm:ss" }}</p>
    </div>
  </md-list-item>
</md-list>
